<!DOCTYPE html>
<html>

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="content">
    {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}

    <section class="pagination-top clearfix">
      {{ with .PrevInSection }}
      <a class="btn previous " href="{{.Permalink}}"> {{ .Title }} </a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="btn next " href="{{.Permalink}}"> {{ .Title }} </a>
      {{ end }}
    </section>

    <section class="post">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

      <span class="post-date">
        {{- $authorName := .Params.author | default .Site.Author -}}
        {{- if isset . "GitInfo" -}}
          {{- $authorName := .GitInfo.AuthorName -}}
        {{- end -}}
        {{- .Date.Format "02.01.2006" }}
        {{ if $authorName }} von {{ $authorName }}{{ end }}
      {{ if .Params.kategorien }}
        <div class="cat-links">
          <span class="fa fa-folder-open fa-fw"></span>
          {{- range .Params.kategorien -}}
          <a class="label label-default" href="/kategorien/{{ lower . | urlize }}" rel="category">{{ . | humanize }}</a>
          {{ end -}}
        </div>
      {{- end -}}
      {{ if .Params.tags }}
        <div class="tags-links">
          <span class="fa fa-tags fa-fw tags-links"></span>
          {{ range .Params.tags }}
          <a class="label label-default" href="/tags/{{ lower . | urlize }}" rel="tag">{{ . | humanize }}</a>
          {{ end }}
        </div> 
      {{ end }}
      </span> 
      <div class="post-content">
        {{ .Content }}
      </div>
    </section>

    <section class="pagination clearfix">
      {{ with .PrevInSection }}
      <a class="btn previous " href="{{.Permalink}}"> {{ .Title }} </a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="btn next " href="{{.Permalink}}"> {{ .Title }} </a>
      {{ end }}
    </section>

    {{ if .Params.comments }}{{ partial "disqus.html" . }}{{ end }}
  </div>

  {{ partial "footer.html" . }}

  <script src="{{ "js/highlight.min.js" | absURL }}"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  {{ partial "analytics.html" . }}
</body>

</html>
