<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  {{ partial "head.html" . }}
</head>

<body>

  {{ partial "header.html" . }}
  <div class="content">
    <h1>{{ .Title }}</h1>
    <section class="terms">
      {{ $data := .Data }}
      <div class="terms-list">
        <ol class="posts-list">
        {{ range $key, $value := .Data.Terms.ByCount }}
          <li><a href="{{ $value.Name | urlize }}">{{ $value.Name | humanize }} ({{ $value.Count }}) </a></li>
        {{ end }}
        </ol>

      </div>
    </section>
  </div>

  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}

</body>

</html>
