@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono|Russo+One|Source+Sans+Pro:400,700);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@import "github-gist.scss";

$font-body: 'Source Sans Pro', 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-title: 'Russo One', 'Arial Black', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
$font-code: 'Droid Sans Mono', Consolas, "Liberation Mono", Menlo, Courier, monospace;

html {
  height:100%;
}

body {
  margin: 0;
  padding:0;
  min-height:100%;
  font-family: $font-body;
  font-size: 100%;
  letter-spacing: .01rem;
  position:relative;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-title;
  font-weight: 700;
  line-height: 1.25;
}

a {
  color: #005580;
  text-decoration: none;

	&:hover {
		color: #08c;
	}
}

img,video {
  max-width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
  float: right;
}

.clearfix::before,.clearfix::after {
  display: table;
  content: "";
  line-height: 0
}

.clearfix::after {
  clear: both
}

.content {
  margin: 0 auto;
  padding: 6rem 1.85rem 8rem;
  max-width: 40rem;
}

@mixin awesome-fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============== Header ============== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.75rem;
  font-family: $font-code;
  font-size: .875rem;
  font-weight: bold;
  background: #bbb;
  border-bottom: 1px solid #000;
  z-index: 99;

  ul,ol {
    margin: 0;
    padding: 0;
    list-style: none
  }

  nav {
    padding: 0 .5rem
  }

  .nav-center {
    text-align: center;
    line-height: 1.75rem;
    color: #000;
    text-transform: uppercase;
    text-shadow: rgba(255,255,255,.098) 0 1px 0,rgba(255,255,255,.12) 0 0 1.875rem
  }

  a {
    color: #2d2d2d;
    line-height: 1.75rem;
    padding: 0 .5rem
  }

  a:hover, .current a {
    color: #000;
  }
}


/* ============== Footer ============== */
footer {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  box-sizing: border-box;
  color: #ccc;

  a {
    color: #ccc;
  }

  .footer-info {
    border-top: .4rem double #f2f2f2;
    padding-top: .25rem
  }
}

/* ============== Index ============== */

.user-profile {
  width: 100%;
  padding: 4rem 1rem 8rem;
  font-family: $font-title;
  color: #888;
  text-align: center;
  box-sizing: border-box;
}

.user-profile .user-avatar {
  margin: 1rem 0
}

.user-profile .user-avatar img {
  // width: 16rem;
  max-height: 16rem
}

.user-profile .user-socials a {
  color: #a7a7a7;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none
}

.user-profile .user-socials a:hover {
  color: #777
}

.user-profile .user-motivation {
  max-width: 56rem;
  font-size: 4rem;
  line-height: 4.125rem;
  margin: 1rem auto
}

/* ============== List ============== */

.posts {
  margin-left: -6rem;

  .posts-archive {
    margin-bottom: 3rem;

    time, h2 {
      display: block;
      width: 10rem;
      float: left;
      font-family: $font-title;
      font-size: 1.75rem;
      text-align: right;
      color: #CCCCCC;
      font-weight: bold;
      white-space: nowrap;
      line-height: 1.25rem;
      padding: .125rem 0;
    }

    ol {
      margin-left: 12rem;

      li {
        margin-bottom: .5rem;
        list-style: decimal;
      }
    }
  }
}

/* ============== Terms ============== */

.terms {
  .terms-list {
    margin-bottom: 3rem;

    h2 {
      display: block;
      font-family: $font-title;
      font-size: 1.75rem;
      color: #CCCCCC;
      font-weight: bold;
      white-space: nowrap;
      line-height: 1.25rem;
      padding: .125rem 0;
      margin: 0;
    }

    p {
      margin-left: 6rem;
      margin-top: 0.5em;
    }
  }
}

/* ============== Page ============== */

.post {
  .post-date {
    font-size: 0.7rem;

  }
  color: #444;
  line-height: 1.8;
  width: 100%;

  hr {
    height: 0.25rem;
    padding: 0;
    margin: 1.5rem 0;
    background-color: #e7e7e7;
    border: 0;
  }

  em {
    text-emphasis-style: circle;
    text-emphasis-position: under;
  }

  code {
    font-family: $font-code;
    font-size: 0.85rem;
    color: #555;
    background-color: #f5f5f5;
    border: 1px solid #eef;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
  }

  pre {
    display: block;
    margin: 0 0 1rem 0;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;

    code {
      font-size: 0.7rem;
      padding: 0;
      color: inherit;
      border: none;
    }
  }

  blockquote {
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    color: #7a7a7a;
    border-left: 0.3rem solid #e5e5e5;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

#TableOfContents {
  border-radius: .25rem;
  padding: 1rem;
  background-color: #f7f7f7;
  margin: 5rem 0 0 35rem;
  position: absolute;
  font-size: .875rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 14rem;
    text-overflow: ellipsis;

    &:before {
      content: '•';
      padding-right: .25rem;
    }
  }

  a + ul {
    padding-left: 1.5rem;
  }

  & ~ section {
    margin-left: -6rem;
  }

}

.pagination {
  @extend .pagination-top;
  margin: 4rem 0 0;
  padding: 1.6rem 0;
  border-top: 1px solid #e7e7e7;
}

.pagination-top {
  width: 100%;

  a {
    width: 42%;
    overflow: hidden;
    position: relative;
  }

  @mixin vertical-center {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
  }

  .previous {
    float: left;
    padding-left: 1.25rem;

    &:before {
      @include awesome-fa;
      @include vertical-center;
      left: 0;
      content: "\f053";
    }
  }

  .next {
    float: right;
    text-align: right;
    padding-right: 1.25rem;

    &:after {
      @include awesome-fa;
      @include vertical-center;
      right: 0;
      content: "\f054";
    }
  }
}

.disqus {
  width: 100%;
  padding: 5rem 0 2rem;
  border-top: 1px solid #e7e7e7;
}

/* ============== formspree ============== */

.formspree {
  input, textarea {
      font-size: 0.8rem;
      border: 1px solid #ddd;
      background: #fff;
      padding: 0.5rem 2%;
      margin: 1.2rem 1rem 1.2rem 0;
      line-height: 1.5rem;
      width: 96%;
      border: 1px solid #ddd;
      border-radius: 3px;
      display: block;
  }

  input {
    max-width: 25rem;
  }

  button {
    float: right;
    color: #999;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background: #fff;
    font-size: .8rem;
    padding: .5rem 1.2rem;

    &:hover {
      background: #f5f5f5;
    }

  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

/* ============== media ============== */

@media (max-width: 480px) {
  .content {
    margin: 0 auto;
    padding: 4rem 1rem 8rem;
  }

  .user-profile .user-avatar img {
    // width: 8rem;
    max-height: 8rem
  }

  .user-profile .user-motivation {
    font-size: 2.625rem;
    line-height: 3.125rem
  }

  .pagination {
    a {
      font-size: .75rem;
    }

    .previous:before, .next:after {
      margin-top: -.35rem;
    }
  }
}

@media (max-width: 920px) {
  .posts {
    margin-left: 0rem;
  }

  #TableOfContents {
    display: none;

    & ~ section {
      margin-left: 0rem;
    }
  }

}

@media (max-width: 700px) {
  .posts {
    margin-left: 0rem;

    .posts-archive {
      time {
        float: none;
        text-align: left;
        margin-bottom: 1rem;
      }

      ol {
        margin-left: 0;
      }
    }
  }
}


.label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  padding: .2rem;
  margin: .1rem;
  background-color: #f5f5f5;
  word-break: keep-all;
}
