{{ if .Site.DisqusShortname }}
<section id="disqus_thread" class='disqus'></section>
<script>
  var disqus_config = function () {
    this.page.url = {{ .Permalink }};
    // this.page.identifier = PAGE_IDENTIFIER;
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//{{ .Site.DisqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Kommentieren ist leider nur mit aktiven JavaScript möglich. (Powered by Disqus)</noscript>
{{ end }}
