{{ $lastUpdate := .Lastmod | default .Site.LastChange}}
<footer>
  <div class="footer-info">
    <p>
      <a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-envelope-o"></i> {{ .Site.Params.email }} </a>
      {
        Gebaut mit <a href="https://gohugo.io/" title="Hugo :: A fast and modern static website engine">Hugo {{ .Hugo.Version }}</a>,
        Design basiert auf <a href="https://github.com/IvanChou/hugo-theme-vec" title="vec">Vec</a>
      }
      {
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC BY-SA 4.0</a>
      }
    <br>Letzte Änderung: {{ .Site.LastChange.Format "02.01.2006" }}
      {{ if and .IsPage (isset . "GitInfo") }}
        {{ with .GitInfo }}
          | <a href="https://gitlab.com/tuxlife/tuxlife.net/commit/{{ .Hash }}">{{ .Subject }} ({{ .AbbreviatedHash }})</a>
        {{end }}
      {{ end }}
  </div>
</footer>
