{{ if .Site.Params.email }}
<div id="formspree" class="formspree">
  <form action="https://formspree.io/{{ .Site.Params.email }}" method="POST">
    <input type="hidden" name="_next" value="{{ "danke"  | absURL }}" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="subject" value="Kommentar zu: {{ .Title }}">
    <input type="text" name="vorname" placeholder="Dein Vorname" required>
    <input type="text" name="name" placeholder="Dein Nachname" required>
    <input type="text" name="firma" placeholder="Deine Firma">
    <input type="email" name="email" placeholder="Deine E-Mail-Adresse" required>
    <input type="tel" name="telefon" placeholder="Deine Telefonnummer">
    <textarea name="message" placeholder="Deine Nachricht" rows=5 required></textarea>
    <button type="submit">Senden</button>
  </form>
</div>
{{ end }}
