<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title> {{ .Site.Title }} </title>

  {{ with .Site.Params.keywords }}
  <meta name="keywords" content="{{.}}">{{ end }} {{ with .Site.Params.description }}
  <meta name="description" content="{{.}}">{{ end }} {{ partial "head.html" . }}

</head>

<body>
  {{ partial "header.html" . }}
  <div class="content">

    <section id="post">
      <section class="post">
        <h1 class="post-title">Ups, du hast die geheime Seite gefunden...</h1>
        <p>Geh lieber ganz schnell zurück und sag niemanden, dass du hier warst.</p>
      </section>
    </section>
  </div>

  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}

</body>

</html>