<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title> {{ .Site.Title }} </title>

  {{ with .Site.Params.keywords }}<meta name="keywords" content="{{.}}">{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{.}}">{{ end }}

  {{ partial "head.html" . }}

</head>

<body>
  {{ partial "header.html" . }}

  <section class="user-profile">
    <figure class="user-avatar">
      <img alt="avater" src="{{ .Site.Params.avater }}">
      <figcaption class="user-socials">
        {{ with .Site.Params.twitterid }}
        <a href="https://twitter.com/{{.}}" title="Twitter">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.googleplusid }}
        <a href="https://plus.google.com/{{.}}/about" title="Google+">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-google-plus"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.facebookid }}
        <a href="https://facebook.com/{{.}}" title="Facebook">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.githubid }}
        <a href="https://github.com/{{.}}" title="GitHub">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.gitlabid }}
        <a href="https://gitlab.com/{{.}}" title="GitLab">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-gitlab"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.xingid }}
        <a href="https://www.xing.com/profile/{{.}}" title="Xing">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-xing"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.linkedinid }}
        <a href="https://linkedin.com/in/{{.}}" title="LinkedIn">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.telegramid }}
        <a href="https://telegram.me/{{.}}" title="Telegram">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-telegram"></i>
          </span>
        </a>
        {{ end }}
        {{ with .Site.Params.keybaseid }}
        <a href="https://keybase.io/{{.}}/key.asc" title="Keybase">
          <span class="fa-stack fa">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-key"></i>
          </span>
        </a>
        {{ end }}
      </figcaption>
    </figure>
    <p class="user-motivation">{{ .Site.Params.selfintro }}</p>
  </section>

  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}

</body>
</html>
